{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}

{% block title %}airworx cinema{% endblock %}

{% block styles %}
{{ super() }}

<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

<!-- Fonts -->
<link href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'  rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700'  rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<link href="{{ url_for('static', filename='css/grayscale.css') }}"  rel="stylesheet">
{% endblock %}

{% block body_attribs %}
id="page-top" data-spy="scroll" data-target=".navbar-custom"
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#page-top">
         <span class="light">airworx</span> cinema
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
	<li class="page-scroll">
	  <a href="#reel">Reel</a>
	</li>
        <li class="page-scroll">
          <a href="#about">About</a>
        </li>
        <li class="page-scroll">
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
{% endblock %}

{% block content %}
<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Airworx Cinema</h1>
          <p class="intro-text scrim">aerial videography and photography</p>
          <div class="page-scroll">
            <a href="#reel" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="reel" class="reel-section container text-center">
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <iframe src="//player.vimeo.com/video/98078508?title=0&amp;byline=0&amp;portrait=0&amp;color=d10010" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
    </div>
  </div>
</section>

<section id="about" class="about-section container content-section text-center">
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2 scrim">
      <h2>About Airworx Cinema</h2>
        <p>
           focusing on producing cutting-edge aerial media for action sports, concerts, and other live events, airworx prides itself in providing the highest quality wireless HD imaging on the market. with a team and equipment capable of performing in the most extreme environments, our passion is documenting yours&#8212; wherever that may take us.
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <a href="http://stephenthoma.com">
        <img class="img-circle" src="{{ url_for('static', filename='img/stephen.jpg') }}">
        <h3>Stephen Thoma</h3>
      </a>
      <p class="light">developer | producer</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="http://kevinmart.in">
        <img class="img-circle" src="{{ url_for('static', filename='img/kevin.jpg') }}">
        <h3>Kevin Martin</h3>
      </a>
      <p class="light">founder | director</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="#">
        <img class="img-circle" src="{{ url_for('static', filename='img/sam.jpg') }}">
        <h3>Sam Claassen</h3>
      </a>
      <p class="light">creative | marketing</p>
    </div>
  </div>
</section>

<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-xs-12 col-lg-10 col-lg-offset-1">
      <h2>Contact us</h2>
      <p>you have something cool in mind&#8212; we want to hear about it. give us a call or shoot us an email, and let's make it happen.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <h6 style="padding-top:5px;"><a href="mailto:kevin@airworxcinema.com">kevin@airworxcinema.com</a> 719.200.4256</h6>
    </div>
  </div>

</section>
{% endblock %}

{% block scripts %}
{{ super () }}

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>

<!-- Custom js -->
<script src="{{ url_for('static', filename='js/grayscale.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fitvids.js') }}"></script>

{{google.analytics(account="UA-51819718-1")}}

{% endblock %}
